QToolBar{
	background: #C4DBFF;
}
QLabel {
	border: 0px solid #ff0f0f;
     border-radius: 00px;
     background-color: #C4DBFF;
}
QWidget{ 
border: 0px solid #ff0000;
     border-radius: 0px;
     background-color: #C4DBFF;
 }
QLineEdit{ 
     background-color: #cBFDFF;
 }